@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
}

div.navbar {
  display: flex;
}

ul {
  list-style-type: none;
  justify-content: space-between;
}

li {
  float: left;
}

.navbar {
  display: flex;
  background-color: #000;
  width: 100%;
}

.navbar a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}

.navbar a:hover {
  background-color: #555;
  padding-left: 20px;
  padding-right: 20px;
}

div.navbar ul li a.active-page {
  background-color: #555;
}

div#flexcontainer {
  display: flex;
  text-align: center;
}

div#side {
  flex: 40%;
}

div#main {
  flex: 60%;
}

h1.title {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5em;
}

h2.mission {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding: 0;
  width: 80%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin-top: 4em;
}

button.modal-button {
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}

button.modal-button:hover {
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000;
  color: white;
}

.modal-body {
  text-align: left;
  padding: 2px 16px;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #000;
  color: white;
}

img {
  border-radius: 50%;
}

div.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 !important;
}

div.grid-item {
    text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 75px;
    height: 75px;
    float: left;
    padding: 0 10px;
    margin: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .card-container {
    margin: 0 -5px;
  }
  
  /* Clear floats after the columns */
  .card-container:after {
    content: "";
    display: table;
    clear: both;
  }